@font-face {
    font-family: 'SourceSansPro';
    src: url(^assets/fonts/SourceSansPro-Regular.ttf);        
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansProBold';
    src: url(^assets/fonts/SourceSansPro-Bold.ttf);        
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansProSemiBold';
    src: url(^assets/fonts/SourceSansPro-Semibold.ttf);         
    font-weight: 600;
    font-style: normal;
}