// font-family variables
$SourceSansPro:"SourceSansPro";
$SourceSansProBold:"SourceSansProBold";
$SourceSansProSemiBold:"SourceSansProSemiBold";


// color variables.
$white: #FFFFFF;
$black: #000000;
$commonTextColor: #222222;
$themeOrange: #FF4E00;
$orange2: #FF9068;
$gray1: grey;
$gray2: #F3F3F3;
$themeBlue: #3399FF;
$bg_themeBlue: #F8FBFF;
$inputBorder: rgba(102, 102, 102, 0.6);
